* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
    font-family: 'Fira Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100%;
    background-color: #000;
    background-image: url('img/landscape3.png');
    background-size: cover;
    background-position: center;

    user-select: none;
      -moz-user-select: none; /* Dla przeglądarek opartych na silniku Gecko (Firefox) */
      -webkit-user-select: none; /* Dla przeglądarek opartych na silniku WebKit (Chrome, Safari) */
      -ms-user-select: none;
}

.moon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #d3d2d2;
    box-shadow: -10px 0px 20px 2px  #ffffff5b;
    position: absolute;
    top: 10%;
    left: 65%;
    overflow: hidden;
    transition: 1s;
}

.moon:hover {
    box-shadow: -2px 0px 10px 0px #ffffff5b;
}

.dot {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    background-color: #173753;
    background-blend-mode:saturation;
    top: -10%;
    left: 30%;
}

/* .fallingstar {
    width: 3px;
    height: 7px;
    background: yellow;
    box-shadow: 0px 0px 9px 2px yellow;
    border-radius: 90px;
    position: absolute;
    opacity: 0.5;
    top: -200px;
    left: 20%;
}

@keyframes fall {
    from {
        transform: translateX(0);
        
        opacity: 1;
    }
    to {
        transform: translateY(500px);
        opacity: 0;
    }
} */


/* Header */

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;

}

header {
    z-index: 2;
    padding: 0 2rem;
    position: sticky;
    top: 0;
    background: linear-gradient(
        to bottom,
        rgba(23, 23, 31, 0.555),
        #00000000
    );
    backdrop-filter: blur(35px);
    
}

.sky {
    width: 100%;
    height: 60px;
    position: absolute;
    pointer-events: none;
    left: 0;
    top: 0;
    
}

.stars {
    width: 3px;
    height: 3px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 8px #fff;
}

.stars:nth-child(1) {
    left: 5%;
    top: 30%;
    position: absolute;
}

.stars:nth-child(2) {
    left: 50%;
    top: 80%;
    position: absolute;
    
}

.stars:nth-child(3) {
    width: 6px;
    height: 6px;
    box-shadow: 0px 0px 6px #fff;
    left: 88%;
    top: 23%;
    position: absolute;
    background-color: orange;
}

.stars:nth-child(4) {
    width: 5px;
    height: 5px;
    left: 12%;
    top: 40%;
    position: absolute;
}

.stars:nth-child(5) {
    left: 44%;
    top: 34%;
    position: absolute;
    background-color: orange;
}

.stars:nth-child(6) {
    left: 23%;
    top: 10%;
    position: absolute;
}

.stars:nth-child(7) {
    left: 75%;
    top: 68%;
    position: absolute;
    
}

.stars:nth-child(8) {
    left: 3%;
    top: 88%;
    position: absolute;
}

.stars:nth-child(9) {
    left: 33%;
    top: 33%;
    position: absolute;
    background-color: orange;
}

.stars:nth-child(10) {
    
    left: 90%;
    top: 70%;
    position: absolute;
}

.stars:nth-child(11) {
    width: 6px;
    height: 6px;
    left: 60%;
    top: 70%;
    position: absolute;
    background-color: orange;

}

.stars:nth-child(12) {
    left: 80%;
    top: 40%;
    position: absolute;
}

.stars:nth-child(13) {
    width: 8px;
    height: 8px;
    box-shadow: 0 0 15px #fff;
    left: 95%;
    top: 60%;
    position: absolute;
}

.navbar {
    color: #fff;
    width: 80%;
    height: 60px;
    max-width: 1200px;
    margin-top: 0;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

} 

.navbar .logo a {
    font-size: 2.5rem;
    font-weight: bold;
}

.navbar .links {
    display: flex;
    justify-content: center;
    width: 70%;
    gap: 2rem;
    border-radius: 20px;
    padding: 0.5rem 3rem;
    text-transform: uppercase; 
}

.navbar a{
    transition: 0.4s;
    color: #fff;
}
.navbar a:hover {
    color: orange;
}

.navbar .toggle_btn {
    color: #fff;
    font-size:  1.5rem;
    cursor: pointer;
    display: none;
}


/* Dropdown menu */
.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 200px;
    height: 0;
    background-color: rgba(53, 53, 69, 0.202);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    text-transform: uppercase;
    
    
    
}

/* Dodaj kolor czcionki dla hover wewnątrz dropdown menu */
.dropdown_menu.open {
    height: 180px;
    
}


.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

.dropdown_menu li a {
    transition: 0.4s;
}

.dropdown_menu li a:hover {
    color: orange;
}

/* Home */

main {
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#home {
    height: 100vh;
    width: 80%;
    border-radius: 20px;
    margin: 20px auto;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#home h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.profile {
    width: 80%;
    border-radius: 40px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 150px 0 20px 0;
    padding: 20px;
}



.profile img{
    z-index: 1;
    position: static;
    width: 200px;
    border-radius: 50%;
    border: 2px solid rgb(28, 28, 54);
    cursor: pointer;
    margin-right: 10px;
    transition: 0.5s;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.405);
}

.profile img:hover{
    scale: 0.95;
    rotate: -2deg;
    border: 2px solid orange;
}

.profile img:active {
    scale: 1.05;
}

.profile p {
    font-size: 16px;
    padding: 15px;
    letter-spacing: 0.8px;
    background-color: rgba(53, 53, 69, 0.298);
    border-radius: 20px;
    margin-top: 5px;
}

#projects, #contact {
    height: 100vh;
    width: 90%;
    display: flex;
    color: #fff;
    justify-content: center;
    margin: 20px auto;
    border-radius: 20px;
    padding-top: 80px;
    
}

#socials {
    height: 100vh;
    width: 90%;
    color: #fff;
    margin: 20px auto 0 auto;
    border-radius: 20px;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
}

.icons {
    width: 100%;
    height: 100vh;
    margin: 240px 0 0 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.icons img {
    width: 130px;
    border-radius: 50%;
    padding: 10px;
}

.icons p {
    font-size: 18px;
}

.blok {
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    margin: 10px;
    
}

.ig:hover {
    color: rgb(247, 131, 6);

}

.dc:hover {
    color: #7289da

}

.gh:hover {
    color: #555555;
    

}

.blok:hover {
    scale: 1.1;
    transform: translateY(-15px);
}


#footer {
    width: 100%;
    height: 80px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Responsive */
@media (max-width: 992px) {
    .navbar .links,
    .navbar .action_btn {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
    }
}

@media (max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
    .blok {
        margin: 0;
        padding: 0;
    }
    footer {
        text-align: left;
    }
    .blok:hover {
        scale: 1.0;
        transform: translateY(0);
    }
}