:root {
    --color-brd-blue: #25225f;
    --color-header: rgb(28, 35, 77);
    --color-dViolet: #21214b4f;
    --color-column: linear-gradient(to top, #151b33, #1c336a);
    --color-hometile: linear-gradient(to top, #3d4e84, #202d5e);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
    font-family: 'Fira Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

h1 {
    color: #fff;
}

body {
    width: 100%;
    background-color: #0a1828;

    user-select: none;
    -moz-user-select: none;
    /* Dla przeglądarek opartych na silniku Gecko (Firefox) */
    -webkit-user-select: none;
    /* Dla przeglądarek opartych na silniku WebKit (Chrome, Safari) */
    -ms-user-select: none;
}

.back {
    position: absolute;
    width: 100%;
    min-width: 300px;
    height: 100vh;
    background-image: url(img/landscape.jpeg);
    background-position: center;
    background-size: cover;
}



a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
}

/* Header */

header {
    width: 100%;
    min-width: 300px;
    z-index: 3;
    position: sticky;
    top: 0;
    background: var(--color-header);

}

header li {
    list-style: none;

}

.navbar {
    color: #fff;
    width: 80%;
    height: 60px;
    max-width: 1200px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    font-size: 1.8rem;
    font-weight: bold;
    text-transform: uppercase;
}

.navbar .links {
    display: flex;
    justify-content: center;
    width: 70%;
    gap: 2rem;
    border-radius: 20px;
    padding: 0.5rem 3rem;
    text-transform: uppercase;
}

.navbar a {
    transition: 0.4s;
    color: #fff;
}

.navbar a:hover {
    color: orange;
}

.navbar .toggle_btn {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

/* Dropdown menu */
.dropdown_menu {
    margin-top: 10px;
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 200px;
    height: 0;
    background-color: var(--color-header);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    text-transform: uppercase;
}

.dropdown_menu.open {
    height: 220px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.498);
}

.dropdown_menu li {
    padding: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

.dropdown_menu li a {
    transition: 0.4s;
}

.dropdown_menu li a:hover {
    color: orange;
}

/* Home/Main */
main {
    width: 100%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#home {
    height: 100vh;
    width: 100%;
    margin: 0px auto;
    color: #fff;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

#home {
    font-size: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* KONTENER */

.container {
    position: absolute;
    display: flex;
    max-width: 100%;
    width: 90%;
    border-radius: 50px;
    justify-content: space-around
}

.leftside,
.rightside {
    width: 400px;
    height: 510px;
    margin: 5px;
    border-radius: 50px;
}



.leftside {
    backdrop-filter: blur(40px);
    border: 1px solid rgba(17, 7, 58, 0.12);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.leftside h1 {
    margin-bottom: 10px;
}

.profile-img {
    background-image: url(img/profilowe.jpg);
    background-size: cover;
    background-position: center;
    width: 150px;
    height: 150px;
    border-radius: 50px;
    margin-bottom: 30px;
    margin-top: 30px;

}

.opis {
    background-color: var(--color-dViolet);
    padding: 10px;
    border-radius: 20px;

}

.opis p {
    margin-bottom: 10px;
}

.start {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-start {
    margin-top: 20px;
    width: 100px;
    text-align: center;
    background-color: orange;
    padding: 5px;
    border-radius: 20px;
    border: 1px solid rgba(32, 38, 102, 0.338);
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.161);
    margin-bottom: 10px;
    color: #ffffff;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
    transition: scale 0.2 ease;
    font-size: 1rem;
}

.btn-start a {
    text-decoration: none;
    color: #fff;
}

.btn-start:hover {
    scale: 1.05;
}

.btn-start:active {
    scale: 0.95;
}

#projects,
#experience {
    height: 100vh;
    width: 90%;
    margin: 20px auto;
    padding-top: 70px;

}

#projects {
    display: flex;
    color: #fff;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center
}

.p1 {
    position: relative;
    margin: 20px 0px 20px 0px;
    width: 80%;
    height: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 20px;
    background-color: rgb(53, 121, 59);
    box-shadow: 4px 2px 10px rgba(0, 0, 0, 0.375);
    justify-content: space-evenly;
    transition: 0.4s;
    border-right: 7px solid var(--color-brd-blue);
    border-bottom: 7px solid var(--color-brd-blue);
    overflow: hidden;

}

.p1.topp {
    background-color: rgb(0, 61, 147);
    overflow: hidden;

}

.p1.bottom {
    border-bottom: 7px solid var(--color-brd-blue);
    background-color: rgb(36, 140, 188);

}

.p1:hover {
    scale: 0.98;

}

.cursor-on:hover {
    opacity: 1;
    z-index: 1;
}

.p1 p {
    font-size: 0.8rem;
    width: 60%;
}

.cursor-on {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    transition: 0.4s;
    background-color: #202d5e50;
    width: 100%;
    height: 100%;
    opacity: 0;
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.cursor-on h1 {
    background-color: #19192d;
    padding: 10px 20px 10px 20px;
    border-radius: 50px;
    opacity: 1;
}

@keyframes liftAndDrop {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-8px);
    }

    100% {
        transform: translateY(0);
    }
}

.box {
    position: relative;
    width: 100px;
    height: 100px;
    background-image: url(https://yt3.googleusercontent.com/ytc/APkrFKaD8t4oFlgXcZKoW512Z81CBJuej3K9uHAlSI0x=s900-c-k-c0x00ffffff-no-rj);
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    animation-name: liftAndDrop;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    box-shadow: 0px 8px 15px 1px rgba(0, 0, 0, 0.495);
}

.img-wp {
    background-image: url(https://static.vecteezy.com/system/resources/previews/020/975/579/non_2x/wordpress-logo-wordpress-icon-transparent-free-png.png);
    background-color: white;
}

.img-dj {
    background-image: url(https://nedbatchelder.com/pix/django-icon-256.png);
}

/* Experience */

#experience {
    height: 100vh;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: content-box;
}

#experience img {
    border-radius: 50%;
    width: 150px;
    padding: 1rem;
}

.staz {
    list-style: square;
    margin-left: 20px;
}

.leftcolumn,
.rightcolumn {
    border-radius: 20px;
    margin-top: 20px;
    width: 49%;
    height: 50%;
    padding: 1.2rem;
    background-image: var(--color-column);
    display: flex;
    flex-direction: column;

}

.leftcolumn {}

.rightcolumn {}

#experience section {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 70%;
    display: flex;
    align-items: center;
    font-size: 0.9rem;

}

#contact {
    height: 100vh;
    width: 60%;
    color: #fff;
    margin: 20px auto 0 auto;
    border-radius: 20px;
    padding-top: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.form-contact,
.icons {
    background-color: var(--color-header);
}

.icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 30%;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    height: 70vh;
    background-color: orange;


}


.form-contact {
    height: 70vh;
    width: 70%;
    border: 2px solid white;
    height: 70vh;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    padding: 20px;
}

.form-contact form {
    display: flex;
    width: 100%;
    height: 50%;
    flex-direction: column;
    justify-content: space-between;
}

.form-contact textarea {
    width: 100%;
    height: 50%;
}

.form-contact input {
    width: 50%;
}

.blok img {
    width: 130px;
    border-radius: 50%;
    padding: 10px;
}

.blok {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    margin: 10px;
    border-radius: 50%;

}

.blok p {
    font-size: 18px;
}

.blok:hover {
    transform: translateX(-20px);
}



#footer {
    width: 100%;
    height: 80px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}


/* Responsive */
@media (max-width: 979px) {

    .navbar .links,
    .navbar .action_btn {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
    }

    .tile {
        display: flex;
        align-items: center;
    }


    .tile p {
        font-size: 0.7rem;
    }

    .tile h3 {
        font-size: 12px;
    }

    #experience {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

    }

    .leftcolumn,
    .rightcolumn {
        width: 80%;
        height: auto;
        margin-top: 0;
    }

    .rightcolumn {
        margin-top: 10px;
    }

    #experience section {
        flex-direction: column;
        font-size: 0.75rem;

    }

    #experience img {
        width: 100px;

    }

    #experience h1 {
        font-size: 1rem;
    }

    #contact {
        width: 90%;
    }

}

@media (max-width: 732px) {

    footer {
        text-align: left;
    }

    .blok:hover {
        scale: 1.0;
        transform: translateY(0);
    }

    #home {
        width: unset;
    }
}

@media (max-width: 663px) {
    .container {
        flex-direction: column;
    }

    .rightside {
        display: block;
        width: 0;
        height: 0;
    }

    .leftside {
        width: unset;

    }

    .p1 {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .dropdown_menu {
        left: 2rem;
        width: unset;
    }

    .p1 p {
        font-size: 0.7rem;
    }

}

@media (max-width: 539px) {
    .box {
        width: 70px;
        height: 70px;
    }

    .p1 {
        display: flex;
        flex-direction: column;
    }

    .p1 p {
        font-size: 0.6rem;
        width: 80%;
    }

    #contact img {
        width: 95%;
    }
}

@media (max-width: 451px) {
    .p1 p {
        font-size: 0.7rem;
    }

    .box {
        width: 70px;
        height: 70px;
    }

    .form-contact {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}